@media only screen and (min-width: 37.5rem) {

    #navButton {
        display: none;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: static;
        background: none;
        width: auto;
        gap: 1.5rem;
    }

    /* Wayfinding for large screens */
    .menuLinks .active a,
    .menuLinks a.active {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
    }
}