* {
    margin: 0;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: "Lato", "Helvetica", sans-serif;
    background-color: #1470c0;
    color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 150px;
    border-radius: 50%;
    padding: 25px;
}

h1 {
    font-size: 2rem;
}

nav {
    padding: 25px;
    margin-bottom: 10px;
}

nav a {
    color: #fff;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #1470c0;
    text-decoration: underline;
}

main {
    background-color: #fff;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

section {
    color: #3784C6;
    width: 50%;
    background-color: #fff;
    border: 1px solid #3784C6;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 1rem;
    padding: 0.5rem;
}

h2 {
    background-color: #1470c0;
    color: #fff;
    padding: 20px;
    margin-bottom: 5px;
}

.card img {
    height: 500px;
    border-radius: 5%;
}

.certificate-section {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem;
}

.filter-buttons button {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.filter-buttons button:hover {
    background-color: #0055a5;
}

.certificate-section .filter-buttons button.active {
    background-color: #002a3b;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.course {
    width: 150px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    color: white;
}

.course.completed {
    background-color: #4CAF50;
}

.course.incomplete {
    background-color: #8B4513;
}

.course h3 {
    margin: 0;
    font-size: 1.1em;
}

#courseContainer {
    display: flex;
    justify-content: space-around;
}

footer {
    text-align: center;
    font-weight: 400;
    color: whitesmoke;
    background-color: #3784C6;
    margin-top: 10px;
    padding: 10px;
}