@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* mobile **************************/
    body {
        margin: 0 auto;
        font-family: "Lato", sans-serif;
        background-color: whitesmoke;
        color: #3784C6;
    }

    header {
        display: flex;
        background-color: #3784C6;
        color: whitesmoke;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    header,
    main {
        margin: 0 auto;
    }

    h1 {
        font-size: 2rem;
        max-width: 50%;
    }

    nav {
        display: none;
        margin: 0 0 0 auto;
    }

    ul {
        list-style-type: none;
        text-align: center;
    }

    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
        background-color: #0c70c9;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin: auto;
    }

    .hamburger span {
        background-color: white;
        height: 3px;
        margin: 4px;
        width: 25px;
        transition: 0.4s;
    }

    .hamburger.active {
        background-color: #0c70c9;
        border-radius: 50%;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(7.5px, 7.5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7.5px, -7.5px);
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 25px;
        place-items: center;
        padding: 1rem 0;
    }

    h2 {
        text-align: center;
        color: #fff;
        padding: 10px;
    }

    .temple-card {
        background-color: #fff;
        border: 1px solid #3784C6;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        margin: 1rem;
        padding: 0.5rem;
    }

    img {
        width: 300px;
        height: 200px;
        border-radius: 8px;
    }

    figcaption {
        color: #3784C6;
    }

    footer {
        text-align: center;
        font-weight: 400;
        color: whitesmoke;
        background-color: #3784C6;
        margin-top: 10px;
        padding: 10px;
    }

}